extends layout

block content
  h1= title
  ul(id="messages")
    form(action="")
      input(id="m" autocomplete="off")
      button Send

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="/javascripts/main.js")